body {
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
	max-width: 600px;	
	text-align: center;
	background: #57BAFA;
}

h1 {
	font-size: 75px;
	margin: 25px 15px 0 15px;
}
h2 {
	font-size: 50px;
	margin: 0 0 0 0;
}
h3 {
	font-size: 30px;
	margin: 0 0 0 0;
}
p {
	margin: 0 5px 0 5px;
}
ul {
	margin: 0 30px 5px 0;
}
li {
  	display: inline;
  	padding: 0px 10px 0px 10px;
}

img.portrait {
	max-width: 350px;
	margin: 50px 0 25px 0;
	border-radius: 50px;
}
img.project {
	max-width: 350px;
	margin: 0 0 0 0;
	border-radius: 25px;
}
img.social {
	max-width: 50px;
	margin: 0 0 0 0;
}
.links {
	margin: 0 0 0 0;
}

@media (max-width: 500px) {
	h1{
		font-size: 50px;
		margin: 10px 0 0 0;
		padding: 15px;
	}
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #57BAFA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #4a9ed4;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #57BAFA;
}